* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fefefe;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: lightgray;

  img {
    width: 8%;
    border-radius: 50%;
  }

  div {
    width: 45vw;
  }
}
