* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fefefe;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: lightgray;

  img {
    width: 8%;
    border-radius: 50%;
  }

  div {
    width: 45vw;
  }
}

main {
  margin: 1rem 5rem;

  section {
    display: flex;
    border: 1px solid black;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    background-color: lightgray;
    margin: 1rem 0;

    div {
      margin: 0.2rem;
    }

    div:not(.description) {
      flex: 1;
      text-align: center;
    }

    .status {
      background-color: yellow;
      border-radius: 33%;
    }

    .description {
      flex: 3;
    }

    .trash {
      text-align: right;
    }

    img {
      width: 1.5rem;
    }
  }
}
